---
smtp_accounts:
  - name: jhilmil
    password: "jhilmil123"
    port: 465
    secure: true
    server: "smtp.example.com"
    smtp_auth: true
    username: "jhilmil123jain@gmail.com"
  - name: jhilmil
    password: "jhilmil123"
    port: 587
    secure: true
    server: "smtp.example.com"
    smtp_auth: true
    username: "sanjiv321jain@gmail.com"
max_attachment_size: 1024
attachment_datastore_ttl: 1800
sensor_smtp_listen_ip: '127.0.0.1'
sensor_smtp_listen_port: 25
